<footer class="site-footer">
  <div class="wrap footer-inner">
    <div class="footer-col">
      <span class="dim">// yoshiko-flow &mdash; {{ SITESUBTITLE }}</span>
    </div>
    <div class="footer-col footer-links">
      <a href="{{ GITHUB_URL }}">github</a>
      <a href="{{ GITHUB_RELEASES_URL }}">releases</a>
      <a href="{{ SITEURL }}/install/">install</a>
      <a href="{{ GITHUB_URL }}/blob/main/README.md">readme</a>
    </div>
    <div class="footer-col dim">
      &copy; {{ CURRENT_YEAR }} {{ AUTHOR }} &mdash; MIT
    </div>
  </div>
</footer>
